:root {
    --main-color: #212529;
    --pink-color: #DA196B;
    --yellow-color: #FFFE63;
    --blue-color: #77EFFF;
    --border-radius:  0% 0% 0% 0% / 0% 0% 0% 0%;
    --border-radius-hover: 50% 50% 50% 50% / 5% 5% 5% 5%;
    --border: .2rem solid var(--blue-color);
    --border-hover: .3rem solid var(--yellow-color);
   
    --heading-font: 'Big Shoulders Inline Text', cursive;
    --general-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.3rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

section { 
    padding: 2rem 9%;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.section-title {
    margin-bottom: 30px;
    font-family: var(--heading-font);
    color: var(--blue-color);
    font-size: 4rem;
    text-align: center;
}

.section-subtitle {
    font-family: var(--general-font);
    font-size: 2.6rem;
    color: var(--pink-color);
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--blue-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
    box-shadow: var(--box-shadow-hover);
    color: var(--yellow-color);
    box-shadow: 0px 0px 10px 5px white;
    transform: scale(1.03);
}


/* HEADER SECTION */
.header .btn {
    margin-top: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: var(--pink-color);
    font-family: var(--heading-font);
}

.header .navbar a:hover {
    font-size: 2rem;
    color: var(--yellow-color);
}

#menu-btn {
    font-size: 3rem;
    color: var(--red-color);
    cursor: pointer;
    display: none;
}

/* HOME SECTION */
.home {
    min-height: 70vh;
    padding-top: 5rem;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around; 
}

.home .row .image {
    padding-top: 9rem;
    text-align: center;
}

.home .row .image img {
    height: 50rem;
    border-radius: 50%;
    box-shadow: 0 0 45px var(--blue-color);  
}

.home .row .content h2{
    font-size: 7.5rem;
    color: var(--yellow-color);
    text-transform: uppercase;
    font-family: var(--heading-font);
}

.home .row .content p {
    font-family: var(--general-font);
    font-size: 4rem;
    color: var(--blue-color);
}

.home .row .content span {
    font-family: var(--heading-font);
    font-size: 3.5rem;
    color: var(--pink-color);
    display: flex;
    padding-bottom: 2rem;   
}

.social {
    position: fixed;
    top: 53%;
    left: 50px;
    transform: translate(-53%);
    border: 1px solid var(--yellow-color);
    border-radius: 50px;
}

.social li a {
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px;
    color: var(--yellow-color);
    transition: all 0.3s ease-in-out 0s;
}

.social li a:hover {
    color: var(--pink-color);
    transform: scale(1.2);
}

/* ABOUT AND SKILLS SECTION */
.about-section {
    margin-top: 3rem;
}

.about-section .section-title h2 {
    justify-content: center;
    align-items: center;
}

.about-section .about-image,
.about-section .about-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
    line-height: 2rem;
    color: white;
}

.about-section .about-image {
    padding-top: -6rem;
}

.about-section .about-image .img-box {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 4;
    width: 92%;
}

.about-section .about-image .img-box::before {
    content: '';
    position: absolute;
    background: linear-gradient(#DA196B,#77EFFF);
    height: 150%;
    width: 40%;
    animation: animate 6s linear infinite;
}

.about-section .about-image .img-box::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 16px;
    background: var(--main-color);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-section .about-image .img-box img {
    position: relative;
    max-width: 100%;
    z-index: 1;
    border-radius: 16px;
    border: solid 4px transparent;   
}

.about-section .about-content {
    background-color: var(--main-color);
}

.about-section .about-content {
    text-align: justify;
}

.about-section .about-content p {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    line-height: 2.1rem;
}
.about-section .about-content h3 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color:var(--pink-color);
}

.about-section .about-content ul {
    list-style-type: none;
}

.about-section .about-content li {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 1rem;
}

/* SKILLS SECTION */
.about-section .about-skills {
    padding-bottom: 5rem;
}
.skill-item .skill-header {
    position: relative;
}

.skill-item .skill-header .skill-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.skill-item .skill-header .skill-percentage {
    position: absolute;
    top: -3px;
    right: 0;
}

.skill-item .skill-header .skill-percentage p {
    font-size: 14px;
    font-weight: 400;
}

.skill-item .skill-bar {
    margin-top: 15px;
}

.skill-item .skill-bar .bar-inner {
    width: 100%;
    height: 9px;
    border-radius: 5px;
    background-color: grey;
    position: relative;
}

.skill-item .skill-bar .bar-inner .progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 9px;
    border-radius: 5px;
    background-color: var(--blue-color);
    width: 80%;
}

.about-content .tobelearned {
    padding-top: 4rem;
}

.about-content .tobelearned h3 {
    padding-bottom: 1rem;
}

.about-content .tobelearned span {
    color: var(--blue-color);
    font-family: var(--general-font);
    font-size: inherit;
}

/* PROJECTS SECTION */
.my-projects {
    color: var(--light-color);
    background-color: var(--main-color);
    text-align: center;
    padding: 0 5rem;
  }

.my-projects h2 {
    margin-bottom: 30px;
    font-family: var(--heading-font);
    color: var(--blue-color);
  }

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important; gap: 1em;
  }

.portfolio-item {
    background: var(--blue-color);
    overflow: hidden; 
    border-radius: 3px; 
  }

.portfolio-img {
    max-width: 100%;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
  }

.portfolio-item:focus {
    position: relative;
    z-index: 2;
  }

.portfolio-img:hover, 
.portfolio-img:focus {
    transform: scale(1.2);
    opacity: .5;
    background-color: var(--blue-color);
  }

/* CONTACT FORM SECTION */
.contact-form {
    padding-top: 4rem;
}

.contact-form form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border: var(--border);
    padding: 3rem;
}

.contact-form form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.1rem;
    background: none;
    text-transform: none;
    color: var(--blue-color);
    margin: .7rem 0;
    outline: none;
}

.contact-form form .box:focus {
    border: 2px solid var(--blue-color);
    box-shadow: 0px 0px 10px 5px white;
}

.contact-form form textarea {
    height: 15rem;
    resize: none;
    outline: none;
}

/* FOOTER SECTION */
footer {
    background-color: var(--blue-color);
}

footer p {
    padding: 15px 0;
}

/* LIGHT MODE */
.light-mode-btn {
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    z-index: 1000;
    font-size: 3.3rem;
    background: var(--main-color);
    color: white;
    border-radius: .5rem;
    border: .1rem solid white;
    padding: .5rem 1.5rem;
}

.light-mode-btn:hover {
    background: var(--blue-color);
    color: var(--main-color);
}





body.light-mode {
    background: white;
    color: #333;
}

body.light-mode .btn {

    color: var(--pink-color);
    background: none;
    border: var(--border);
    border-color: var(--pink-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    box-shadow: var(--box-shadow);
}

body.light-mode .btn:hover {
    color: var(--blue-color);
    border: var(--border-hover);
    border-color: var(--blue-color);
}

body.light-mode .header {
    background-color: white;
}

body.light-mode .header a {
    color: #333;
}

body.light-mode .header .btn {
    color: var(--pink-color);
}

body.light-mode .header a:hover {
    color: var(--pink-color);
}

body.light-mode .header .btn:hover {
    color: var(--blue-color);
}

body.light-mode .home .row .image img {
    box-shadow: 0 0 45px var(--main-color);  
}

body.light-mode .home {
    background-image: url(../background.jpg) !important;
    background-repeat: none;
    background-size: cover;
}

body.light-mode .home .row .content h2 {
    color: var(--main-color);
}

body.light-mode .home .row .content p {
    color: var(--main-color);
}


body.light-mode .about-section .about-content {
    background-color: white;
    color: #333;
}






body.light-mode .social {
    border: 1px solid var(--main-color);
}

body.light-mode .social li a {
    color: var(--main-color);
}

body.light-mode .social li a:hover {
    color: var(--pink-color);
    transform: scale(1.2);
}

body.light-mode .my-projects {
    background-color: white;

}

body.light-mode .contact-form form {
    border: var(--border);
    border-color: var(--pink-color);
}

body.light-mode .contact-form form .box {
    border: var(--border);
    border-color: var(--pink-color);
    color: var(--pink-color);
}

body.light-mode .contact-form form .box:focus {
    border: 2px solid var(--pink-color);
    box-shadow: 0px 0px 10px 5px var(--pink-color);
}

body.light-mode .footer {
    background-color: #333;
}

body.light-mode .footer .container {
    color: white;
}







/* MEDIA QUERIES */
@media(min-width: 1201px) {

    .social-menu {
        display: none;
    }
}

@media(max-width: 1200px) {
    .home { 
        padding: 2rem;
        margin-top: 7rem;
    }

    .social {
        display: none;
    }

    .social-menu i{
        color: var(--blue-color);
        font-size: inherit;
        padding-left: 1rem;
    }

    .social-menu i:hover {
        color: var(--yellow-color);
    }
}

@media(max-width: 991px) {
    .about-section .about-image {
        display: none;
    }
    .about-section .about-content
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-section .about-content .section-title
    {
        text-align: center;
    }
    

 }

@media(max-width: 768px) {

body.light-mode .social-menu i{
    color: var(--main-color);
    font-size: inherit;
    padding-left: 1rem;
}

body.light-mode .social-menu i:hover {
    color: var(--blue-color);
    transform: scale(1.3);
}

    
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    } 

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem; 
        color: var(--pink-color);
    }

    .header .navbar a:hover {
        font-size: 2.4rem
    }

    .home {
        text-align: center;
        padding-top: 4rem;
    }

    .home .row .content h2 {
        font-size: 4rem;
    }

    .home .row .image {
        padding-top: 2rem;
    }

    body.light-mode .header .navbar a {
        color: var(--main-color);
    }
    
    body.light-mode .header .navbar {
        background-color: white;
        border-bottom: 2px var(--blue-color) solid;
    }
  

    .header .navbar {
        background-color: var(--main-color);
        border-bottom: solid 2px var(--pink-color);
    }

    .menu .box-container .box {
        margin-left: 0;
        margin-top: 3rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img {
        margin-left: 0;
        margin-top: -6rem;
    }

    header #menu-btn {
        color: var(--pink-color);
    }

    .about-section .about-content
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-section .about-image {
        flex: 0 0 100%;
    }

    .about-section .about-image {
        display: none;
    }

    .about-section .container .about-skills {
        padding-bottom: 0;
    }



}

@media(max-width: 540px) {
    .menu .box-container .box {
        flex: 1 1 10rem;
    }

}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home .row .image img {
        height: auto;
        width: 100%;
    }
    .menu .box-container .box {
        flex: 1 1 15rem;
    }
    .home .image-slider img {
        height: 6rem;
    }
    .menu .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    
    .menu .box-container .box {
        flex: 1 1 10rem;
        padding: 1rem;
        border: var(--border);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

@media(max-width: 370px){
    .my-projects {
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 1rem;
    }

}













